<html>
<head></head>
<body>
{{range .}}
Name of hotel {{.Name}}<br>
    Menus :<br>
    Breakfast : {{.Breakfast}}<br>
    Lunch : {{.Lunch}}<br>
    Dinner : {{.Dinner}}<br><br>


{{end}}
</body>
</html>